{% extends 'layout.html.twig' %}

{% block title %}Sélection de profils{% endblock %}

{% block content %}
<div class="cadre">
    <h1>Liste des profils sélectionnés</h1>
    {% for profile in list %}
        <div class="select-profile">
            <div class="{{ profile.choix }}">
                <p>
                {% if profile.choix == 'accept' %}
                    Match !
                {% elseif profile.choix == 'refuse' %}
                    Refusé...
                {% else %}
                    Non vu
                {% endif %}
                 </p>
            </div>
            <div class="select-pseudo">{{ profile.pseudo }}</div>
            <img src="../assets/images/avatars/avatar{{ profile.id }}.png">
            <div class="select-date">sélectionné le {{ profile.dateSelection }}</div>
            <a href="/soughtProfile/deleteSelectProfile/{{ profile.id }}">Supprimer</a>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}

{% endblock %}