{% extends 'layout.html.twig' %}

{% block content %}

 



	
  <div class ="cadre">
	<div class="container"></div>
			<h1>Votre Profil</h1>
	<br/><br/>
			<form method="POST" action="update" enctype="multipart/form-data">
				<div class="form-row">
					<div class="col-md-4 mb-3"></div>
		
			<tr>
				<td></td>
				<td align="center">
					<br/> <!--random avatar creation button-->
					<input type="button" value="Nouvel avatar"/ onclick="window.location.href = '/avatar/avatarCreate';">
					<img src="../assets/images/avatars/avatar{{user.id}}.png"> <!--création image avatarId.png-->
				</td>
			</tr>
			
			<div class="form-row">
				<div class="col-md-4 mb-3">
				<label class="inscriptionLabel" for ="Firstname">Nom :</label>
				<input type="text" placeholder="Nom" value= "{{user.firstName}}" id="firstname" name="Firstname"/>
				<br><br>
			</div>
			<div class="col-md-4 mb-3">
				<label class="inscriptionLabel" for ="Lastname">Prenom:</label>
				<input type="text" placeholder="Prénom" value= "{{user.lastName}}" id="Lastname" name="Lastname"/>
				<br><br>
			</div>
			
				<div class="col-md-4 mb-3">
					<label class="inscriptionLabel" for ="pseudo">Pseudo :</label>
					<input type="text" placeholder="Votre pseudo" id="pseudo" name="pseudo"/>
					<br><br>
					</div>
				<div class="col-md-4 mb-3">
						<label class="inscriptionLabel" for ="Birthday">Votre date de naissance :</label>
						<input type="date" placeholder="birthday"  value= "{{user.birthday}}" id="birthday" name="birthday"/>
						<br><br>
				</div>
				<div class="col-md-4 mb-3">
						<label class="inscriptionLabel" for ="mail">Mail :</label>
						<input type="email" placeholder="Votre mail" value= "{{user.email}}" id="mail" name="mail"/>
						<br><br>
				</div>
				<div class="col-md-4 mb-3">
							<label class="inscriptionLabel" for ="password">Mot de passe :</label>
							<input type="password" placeholder=" password" id="password" name="pswd"/>
							<br><br>
				</div>
					<div class="col-md-4 mb-3">
							<label class="inscriptionLabel" for="imageUpload">Inserer vos photos</label>  
							<input type="file" name="picture" id="imageUpload" /><br></br>
							<br><br>
						</div>
						<div class="col-md-4 mb-3">
							<button class="btn btn-primary" type="submit">Enregister</button>
						
	
	</form>
</div>
</div>
		{% endblock %}
